<footer>
    <section>
        <div id="contacto">
            <i class="fas fa-address-card"></i>
            <h3>Contactanos</h4>
            <p>Direccion</p>
            <p>telefono</p>
            <p>mail</p>
        </div>

        <div id="redes">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>
            
    </section>
    <div>
        <p id="copy">Copyright © 1999-2022 OracleWines S.R.L.</p>
    </div>

</footer>