<header>
    <div class="navbar">
        <img class="logo" src="/images/Oracle Wines (5).png" alt="Oracle Wines">
        <div class="barra-busqueda">
            <form action="/" method="get">
            <input class="espacio-busqueda" type="text" placeholder="Buscar producto">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
    <div class="burger-button"><i class="fa-solid fa-bars"></i></div>
    <div class="navbar-inferior">
         <div class="navbar-left">
            <a href="/"><i class="fa-solid fa-house"></i></a>
            <a href="">Productos</a>
            <a href="">Secciones</a>
        </div>
        <div class="navbar-right">
            <div class="logo-usuario">
                <ul class="reg-log">
                    <li><a href="/login">Ingresá </a></li>
                    <li><a href="/registro">Registrate </a></li>
                </ul>
                <i class="fa-solid fa-circle-user"></i>
            </div>
            <div class="logo-carrito">
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </div>
</header>