<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Lato&family=Nunito&display=swap" rel="stylesheet">
    <title>OracleWines-Inicio</title>
</head>
<body>
    <%- include('./partials/header') %>

    <main>
        <div class="banner">
            <img src="/images/banner3.jpg" alt="promo" class="promocion">
        </div>
        <div class="seccion1">
            <div class="slogan">
                <h2>Experts of Wines</h2>
                <div class="fondo">
                    <img src="/images/publicidad2.jpg" alt="banner-boda" class="publicidad">
                </div>
                <button>Ver más</button>
            </div>
        </div>
       <div class="seccion2">
           <div class="producto">
               <h2>Premiados</h2>
               <div class="imagenes">
                <div class="imagen">
                    <img src="/images/Vino1.png" alt="vino" class="premiado">
                </div>
                <div class="segunda-imagen">
                    <img src="/images/Vino3.png" alt="vino" class="premiado">
                </div>
               </div>
               <button>Ver más</button>
           </div>
       </div>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>