<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Lato&family=Nunito&display=swap" rel="stylesheet">
    <title>OracleWines-Inicio</title>
</head>
<body>
    <header>
        <div class="navbar">
            <nav>
                <a href="/"><img class="logo" src="/images/logo.jpeg" alt="Oracle Wines"></a>
                <h1>Oracle Wines</h1>
                <div class="barra">
                    <form action="/" method="get">
                        <input class="barra-busqueda" type="text" placeholder="Buscar producto">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </nav>
            <div class="categorias">
                <div class="menu">        
                    <ul>
                        <li><a href="#">Historia</a></li>
                        <li><a href="#">Sucursales</a></li>
                        <li><a href="/producto">Productos</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
                <div class="menu-usuario">
                    <ul>
                        <li><a href="/login">Ingresá</a></li>
                        <li><a href="/registro">Registrate</a><i class="fa-solid fa-circle-user"></i></li>
                        <li><a href="/carrito">Carrito</a><i class="fa-solid fa-cart-shopping"></i></li>
                    </ul>
                </div>
            </div>    
        </div>    
        <div class="burger-button"><i class="fa-solid fa-bars"></i></div>
    </header>
    <main>
        <div class="banner">
            <img src="/images/banner3.jpg" alt="promo" class="promocion">
        </div>
        <div class="seccion1">
            <div class="slogan">
                <h2>Experts of Wines</h2>
                <div class="fondo">
                    <img src="/images/publicidad2.jpg" alt="banner-boda" class="publicidad">
                </div>
                <button>Ver más</button>
            </div>
        </div>
       <div class="seccion2">
           <div class="producto">
               <h2>Premiados</h2>
               <div class="imagenes">
                <div class="imagen">
                    <img src="/images/Vino1.png" alt="vino" class="premiado">
                </div>
                <div class="segunda-imagen">
                    <img src="/images/Vino3.png" alt="vino" class="premiado">
                </div>
               </div>
               <button>Ver más</button>
           </div>
       </div>
    </main>
    <footer>
        <footer>
            <section>
                <div id="contacto">
                    <i class="fas fa-address-card"></i>
                    <h3>Contactanos</h4>
                    <p>Direccion</p>
                    <p>telefono</p>
                    <p>mail</p>
                </div>
    
                <div id="redes">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
                    
            </section>
            <div>
                <p id="copy">Copyright © 1999-2022 OracleWines S.R.L.</p>
            </div>
      
        </footer>
    </footer>
</body>
</html>