<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Oracle Wine - Producto</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="/css/styles-prod.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cardo&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="navbar">
                <img class="logo" src="/images/logo.jpeg" alt="Oracle Wines">
                <div class="barra-busqueda">
                    <form action="/" method="get">
                    <input class="espacio-busqueda" type="text" placeholder="Buscar producto">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
            <div class="burger-button"><i class="fa-solid fa-bars"></i></div>
            <div class="navbar-inferior">
                 <div class="navbar-left">
                    <a href="">Historia</a>
                    <a href="">Sucursales</a>
                    <a href="">Productos</a>
                    <a href="">Servicios</a>
                    <a href="">Contacto</a>
                </div>
                <div class="navbar-right">
                    <div class="logo-usuario">
                        <a href="/login">Ingresá </a> 
                        <a href="/formulario-registro">Registrate </a> 
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    <div class="logo-carrito">
                        <a href="/carrito">Carrito </a>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="central">
                <div class="imagen">
                    <img src="images/wine1.png" alt="Imagen del producto">
                </div>

                <div class="descripcionProducto">
                    <h1> Nombre del producto </h1>
                    <h4>Precio</h4>
                    <h4>Cantidad</h4>
                    <input type="number" id="cantidad" name="cantidad" min="1" max="20">
                    <input type="submit" name="submit" value="Agregar al carrito">
                    <input type="submit" name="submit" value="Comprar">
                    <h2>Descripcion del procucto</h2>
                    
                    <h4>Calificacion del producto si se puede poner</h4>

                </div>
                
            </section>
            <div class="masDescripcion">
                <h2>Mas detalles sobre el producto, de donde viene, etc</h2>
            </div>

        </main>
        <footer>
            <section>
                <div id="contacto">
                    <i class="fas fa-address-card"></i>
                    <h3>Contactanos</h4>
                    <p>Direccion</p>
                    <p>telefono</p>
                    <p>mail</p>
                </div>
    
                <div id="redes">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
                    
            </section>
            <div>
                <p id="copy">Copyright © 1999-2022 OracleWines S.R.L.</p>
            </div>
      
        </footer>
    </body>
