<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;1,900&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/estilosrecuperar.css">
    <title>Oracle Wines - Recuperar contraseña</title>
</head>
<body>
    <header>
        <div class="navbar">
            <img class="logo" src="/images/logo.jpeg" alt="Oracle Wines">
            <div class="barra-busqueda">
                <form action="/" method="get">
                <input class="espacio-busqueda" type="text" placeholder="Buscar producto">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
        <div class="burger-button"><i class="fa-solid fa-bars"></i></div>
        <div class="navbar-inferior">
             <div class="navbar-left">
                <a href="">Historia</a>
                <a href="">Sucursales</a>
                <a href="">Productos</a>
                <a href="">Servicios</a>
                <a href="">Contacto</a>
            </div>
            <div class="navbar-right">
                <div class="logo-usuario">
                    <a href="/login">Ingresá </a> 
                    <a href="/registro">Registrate </a> 
                    <i class="fa-solid fa-circle-user"></i>
                </div>
                <div class="logo-carrito">
                    <a href="/carrito">Carrito </a>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="titulo">
            <h4>RECUPERA TU CONTRASEÑA</h4>
        </div>

        <div class="login-page">
            <div class="form">
              <form class="login-form">
                <input type="text" placeholder="E-mail"/>
                <input type="password" placeholder="Confirma tu e-mail"/>
                <button>ENVIAR</button>
              </form>
            </div>
        </div>      

    </main>
    <footer>
        <section>
            <div id="contacto">
                <i class="fas fa-address-card"></i>
                <h3>Contáctanos</h4>
                <p>Dirección</p>
                <p>Teléfono</p>
                <p>Mail</p>
            </div>

            <div id="redes">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
            </div>
                
        </section>
        <div>
            <p id="copy">Copyright © 1999-2022 OracleWines S.R.L.</p>
        </div>
  
    </footer>

    
</body>
</html>