*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
}

/*Header*/

header{
  background-image: url("../images/Header Vinos 1.jpg");
  background-size: cover;
  width: 100%;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

}

.logo{
  max-width: 40%;
  border-radius: 50%;
  border: solid 2px black;
}

.espacio-busqueda{
  max-width: 60%;
  border: solid 2px black;
}

.burger-button{
  color: white;
  font-size: 30px;
  width: 30px;
  margin: auto;
  transition: all 450ms;
}

.navbar-inferior{
  display: none;
  background-color: #6d0f1c;
  
}

.reg-log{
  display: none;
  list-style: none;
  position: absolute;
  background-color: hsl(352, 76%, 24%, 0.8);
  color: white;
  padding-top: 10px;
  
}

.reg-log li {
  padding: 5px 5px 5px;
  
}

.logo-usuario:hover .reg-log{
  display: block;
  justify-content: left;
      
}

.reg-log li:hover {
  font-weight: bold;

}

header button{
  background-color: black;
  border: solid 5px black;
  color: white;
  font-weight: bold;
  transition: all 450ms;
}

header button:hover{
  background-color: darkslategrey;
  border: solid 5px darkslategrey;
}


@media (min-width: 425px){
  header {
      max-height: 195px;
  }

  .burger-button{
      display: none;
  }

  .logo{
      max-width: 130px;
  }

  .espacio-busqueda{
      max-width: 60%;
  }

  .navbar-inferior{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      max-width: 775px;
  }

  .navbar-right{
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #ebebeb;
      font-size: 15px;
      margin-right: 20px;
  }

  .navbar-left{
      margin-left: 20px;
  }

  .navbar-right a{
      color: #ebebeb;
      text-decoration: none;
      padding: 0 3px;
  }

  .navbar-left a{
      color: #ebebeb;
      justify-content: space-around;
      text-decoration: none;
      padding: 0 15px;
      transition: all 450ms;
  }

  .navbar-left a:hover{
      background-color: white;
      color: black;
  }

  .logo-usuario{
      display: flex;
      padding: 5px;
      transition: all 400ms;
      margin-right: 10px;
  }
  .logo-carrito{
      padding: 5px;
      transition: all 400ms;
      margin-left: 10px;
  }



  .logo-carrito:hover{
      color: black;
      background-color: white;
  }

  .logo-carrito a:hover{
      color: black;
  }

}

@media (min-width: 1024px){

  .espacio-busqueda{
      max-width: 190px;
  }

  .navbar{
      max-width: 850px;
      margin: auto;
  }

}


/*Body Login*/

body{
    font-family: 'Cardo', serif;

}

main{
    width: 90%;
    margin: 0 auto;
}

div.titulo {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: #900C3F;
    padding-top: 40px;
}

div.login {
    text-align: center;
}

.login-page {
    width: 360px;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 7px;
    margin: auto;
  }
  .form {
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: 'Cardo', sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: 'Cardo', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #900C3F;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #900C3F;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #900C3F;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  
  body {
    background: #ebebeb; 
    font-family: 'Cardo', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }

  .checkbox { 
    margin: 20px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }


  

  /*Footer*/

footer{
    padding: 2%;
    background-color: #6d0f1c;
    color: white;
}

footer section{
    display: flex;

}

footer section div#contacto{
    width: 50%;
}

div#contacto i{
    width: 30%;
    font-size: 250%;
    text-align: center;
    padding: 2%;
}

footer section div#redes{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

div#redes i{
    width: 30%;
    font-size: 250%;
    text-align: center;
}

footer div p#copy{
    text-align: left;
    margin: 30px 5px;
}


