html{
    width: 100%;
}

body{
    font-family: 'Cardo', serif;
    width: 100%;
    margin: 0px;
}



/* Main */

main{
    background-color: #ebebeb;
    text-align: center;
    align-items: center;
}

.banner{
    display: flex;
    margin-bottom: 35px;
}

main div.banner img{
    width: 100%;
}

main div.seccion1{
    padding-bottom: 20px;
}

main div.slogan{
    display: block;
    margin: 30px 15px 30px 15px;  
    background-color: #FFF;
}

main div.slogan h2{
    font-size: 40px;
    padding: 15px;
    margin: 0px;
}

main div.slogan button{
    background-color: #6d0f1c;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    margin: 20px;
}

main div.fondo{
    display: flex;
}

main div.fondo img{
    width: 100%;
}

main div.seccion2{
    padding-bottom: 20px;
}

main div.producto{
    display: block;
    margin: 30px 15px 30px 15px;  
    background-color: #FFF;
    justify-content: center;
}

main div.producto h2{
    font-size: 40px;
    padding: 15px;
    margin: 0px;
}

main div.producto button{
    background-color: #6d0f1c;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    margin: 20px;
}

main div.imagenes{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
}

main div.imagen{
    display: flex;
    justify-content: center;
}

main div.imagen img{
    width: 50%;
}

main div.segunda-imagen img{
    width: 50%;
    display: none;
}


@media (min-width: 425px){

    h1{
        font-size: 48px;
        color: #FFF;
        width: 45%;
        text-align: center;
    }

    main div.slogan h2{
        font-size: 60px;
        padding: 15px;
        margin: 0px;
    }
    
    main div.slogan button{
        background-color: #6d0f1c;
        color: #FFF;
        padding: 5px;
        border-radius: 5px;
        font-size: 25px;
        margin: 20px;
    }

    main div.producto h2{
        font-size: 60px;
        padding: 15px;
        margin: 0px;
    }
    
    main div.producto button{
        background-color: #6d0f1c;
        color: #FFF;
        padding: 5px;
        border-radius: 5px;
        font-size: 25px;
        margin: 20px;
    }

    main div.imagen{
        display: flex;
        justify-content: center;
    }
    
    main div.imagen img{
        width: 60%;
    }
    
}

@media (min-width: 769px){
    main div.imagenes{
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 60%;
        margin-left: 20%;
    }

    main div.imagen img{
        width: 100%;
        display: inline;
        background-color: #FFF;
    }
    
    main div.segunda-imagen img{
        width: 100%;
        display: inline;
        background-color: #FFF;
    }

    main div.producto h2{
        font-size: 60px;
        padding: 15px;
        margin: 0px;
        background-color: #FFF;
    }

    main div.producto{
        display: block;
        margin: 30px 15px 30px 15px;  
        background-color:#ebebeb;
        justify-content: center;
    }
}

