*{
    box-sizing: border-box;
    font-family: 'Cardo', serif;
}



/*Cuerpo*/

/*Categorías*/

h2{
    color: #6d0f1c;
    font-size: 30px;
}

.vinos-andinos{
    height: 250px;
    width: 250px;
    position: relative;
}

.vinos-andinos img{
    width: 100%;
    
}

.vinos-andinos p{
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: rgba(194, 146, 14, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 75%;
    transition: all 450ms;
}

.vinos-andinos p:hover{
    background-color: rgba(240, 189, 48, 0.5);
}

.vinos-patagonicos{
    height: 250px;
    width: 250px;
    position: relative;
}

.vinos-patagonicos img{
    width: 100%;
    
}

.vinos-patagonicos p{
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: rgba(63, 177, 230, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 75%;
    transition: all 450ms;
}

.vinos-patagonicos p:hover{
    background-color: rgba(63, 80, 230, 0.5);
}


.vinos-importados{
    height: 250px;
    width: 250px;
    position: relative;
}

.vinos-importados img{
    width: 100%;
    
}

.vinos-importados p{
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: rgba(194, 14, 68, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 75%;
    transition: all 450ms;
}

.vinos-importados p:hover{
    background-color: rgba(78, 8, 8, 0.5);
}

.categorias{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 20px;
    margin: auto;
}


/*Premiados*/
main{
    margin: auto;
    background-color: #ebebeb;
}

main h2{
    margin: auto;
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
}

.carrusel{
    width: 90%;
    max-width: 800px;
    margin: auto;
    transition: all 0.4s ease;
    overflow: hidden;
    scroll-behavior: smooth;
}

.lista-premiados{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

.botones-carrusel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 750px;
    margin: auto;
    align-items: center;
    padding-bottom: 30px;
}

.botones-carrusel .boton-izquierda{
    color:rgb(100, 100, 100);
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    border: solid 1px lightgrey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: all 450ms;
    cursor: pointer;
}

.botones-carrusel .boton-derecha{
    color:rgb(100, 100, 100);
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    border: solid 1px lightgrey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: all 450ms;
    cursor: pointer;
}

.botones-carrusel .boton-derecha:hover{
    background-color: rgb(223, 219, 219);
}

.botones-carrusel .boton-izquierda:hover{
    background-color: rgb(223, 219, 219);
}

.boton-ver-mas button{
    display: block;
    justify-content: center;
    margin: auto;
    background-color: #6d0f1c;
    border: solid 5px #6d0f1c;
    border-radius: 5%;
    width: 100px;
    font-size: 18px;
    transition: all 450ms;
    text-align: center;
    margin-bottom: 15px;
    text-decoration: none;

}

.boton-ver-mas button:hover{
    background-color: black;
    border: solid 5px black;
}

.producto{
    display: flex;
    width: 250px;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    border: solid 1px lightgrey;
    border-radius: 3%;
    margin-top: 15px;
    padding: 0 20px;
    margin-right: 25px;
    transition: all 300ms;
    background-color: white;
    position: relative;
}

.vinos-premiados{
    padding-bottom: 20px;
    background-color: #ebebeb;
}

.producto:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.imagen-vino{
    max-height: 200px;
    padding: 5px;
}

.detalle-producto{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nombre-producto{
    font-size: 100%;
    font-weight: bold;
    
}

.precio-producto{
    font-size: 100%;
    color: #6d0f1c;
    font-weight: bold;
    padding: 15px 0;
}

.premios-producto{
    font-size: 90%;
    text-align: center;
    color: white;
    background-color: rgb(199, 149, 22);
    border-radius: 5%;
    font-weight: bold;
    padding: 5px 0;
    margin-top: 10px;
    transition: all 300ms;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.premios-producto:hover{
    background-color: rgb(148, 108, 8);
}

.descuento-producto{
    background-color: #6d0f1c;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    font-size: 10px;
    padding: 6% 2%;
    position: absolute;
    top: 25px;
    left: 15px;
    opacity: 0.4;
    transition: all 300ms;

}

.descuento-producto:hover{
    opacity: 0.6;
}

.unidades-producto{
    display: flex;
}

.cantidad{
    font-weight: bold;
}

button{
    background-color: #6d0f1c;
    border: solid 5px #6d0f1c;
    color: white;
    font-weight: bold;
    transition: all 450ms;
    cursor: pointer;
}

button:hover{
    background-color: black;
    border: solid 5px black;
}

.descripcion-producto{
    display: none;
}

/*Experts*/

.seccion-experts{
    width: 90%;
    height: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experts{
    margin: auto;
}
.imagen-experts{
    max-width: 100%;
    margin: auto;
}

@media (min-width: 425px){


    .descripcion-producto{
        display: block;
        padding-top: 10px;
    }




}

@media (min-width: 1024px){

    .lista-productos{
        max-width: 850px;
        margin: auto;
    }

    .imagen-experts{
        max-width: 750px;

    }

    

}

/* Carrusel automático*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {

    width: 100%;
    height: 250px;
    margin: auto;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 40px;

}

.slider ul{
    display: flex;
    padding: 0;
    width: 300%;
    height: 230px; 
    
    animation: slide 15s infinite alternate ease-in-out;
}

.slider li{
    width: 100%;
    height: 250px;
    list-style: none;
}

.slider li img{
    width: 100%;
    height: 200px;
}

@keyframes slide {
    0%{margin-left: 0;}
    30%{margin-left: 0;}

    35%{margin-left: -100%;}
    65%{margin-left: -100%;}

    70%{margin-left: -200%;}
    100%{margin-left: -200%;}

}

/* Carrusel de bodegas */

.segundo-slider {
    width: 100%;
    margin: auto;
    padding-bottom: 40px;
    overflow: hidden;
}

.segundo-slider .segundo-slide {
    width: 1500px;
    height: 65px;

    background-image: url(/images/marcasvinos.jpg);
    background-size: 100% 100%;

    animation: scroll 40s infinite linear;

}

@keyframes scroll {
    to {
        background-position: 1500px;
    }
}

/*Informacion*/

.info{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    z-index: 1;
    background: #883c46;
    max-width: 1000px;
    margin: 0 auto 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    color: white;
}

.info h3 {
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
