*{
    box-sizing: border-box;
    font-family: 'Cardo', serif;
}

/*Header*/

header{
    background-image: url("../images/Header Vinos 1.jpg");
    background-size: cover;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.logo{
    max-width: 70px;
    border-radius: 50%;
    border: solid 1px lightgray;
}

.espacio-busqueda{
    max-width: 60%;
    border: solid 1px lightgray;
}

.burger-button{
    color: white;
    font-size: 30px;
    width: 30px;
    margin: auto;
    transition: all 450ms;
}

.navbarGral{
    width: 100%;
    display: none;
    background-color: #6d0f1c;

}

.navbar-inferior{
    display: none;
    background-color: #6d0f1c;
    
}

.reg-log{
    display: none;
    list-style: none;
    position: absolute;
    background-color: hsl(352, 76%, 24%);
    color: white;
    padding-top: 10px;
    
}

.logo-usuario ul{
    margin: 0;
    padding: 0;
    margin-top: 20px;

}

.seccion-menu{
    text-decoration: none;
    color: #bebebe;
    position: relative;
}

.seccion-menu:after{
    content: "";
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color:#bebebe;
   transform-origin: right;
   transform: scaleX(0);
   transition: transform 500ms ease-in-out;
}
.seccion-menu:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}

.reg-log li {
    padding: 5px 5px 5px;
    
}

.logo-usuario{
    transition: all 450ms;
}

.logo-usuario:hover .reg-log{
    display: block;
    justify-content: left;
        
}

.logo-usuario:hover{
    background-color: white;
    color:black;
}

.icono-home{
    transition: all 450ms;
}

.icono-home:hover{
    background-color: white;
    color:black;
}

header button{
    background-color: white;
    border-radius: 5%;
    border: solid 3px white;
    color: #6d0f1c;
    font-weight: bold;
    transition: all 450ms;
}

header button:hover{
    background-color: lightgrey;
    border: solid 3px lightgrey;
}


/*Cuerpo*/

main{
    margin: auto;
    background-color: #ebebeb;;
}

.lista-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    border: solid 1px lightgrey;
    border-radius: 3%;
    margin: 2% 0;
    transition: all 300ms;
    background-color: white;
}

.producto:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.imagen-vino{
    max-height: 200px;
    padding: 5px;
}

.detalle-producto{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nombre-producto{
    font-size: 20px;
    font-weight: bold;
}

.precio-producto{
    font-size: 20px;
    color: #6d0f1c;
    font-weight: bold;
    padding: 15px 0;
}

.unidades-producto{
    display: flex;
}

.cantidad{
    font-weight: bold;
}

button{
    background-color: black;
    border: solid 5px black;
    color: white;
    font-weight: bold;
    transition: all 450ms;
}

button:hover{
    background-color: darkslategrey;
    border: solid 5px darkslategrey;
}

.descripcion-producto{
    display: none;
}

.datos-entrega{
    display: flex;
    justify-content: space-around;
    align-items: top;
    margin: 10px;
}

.domicilio{
    font-weight: bold;
}

.direccion{
    color: #6d0f1c;
    font-style: italic;
}

.titulo-costo{
    font-weight: bold;
}

.precio-envio{
    color: #6d0f1c;
    font-weight: bold;
    text-align: center;
}


.confirmar-compra{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.precio-total{
    display: flex;
    flex-direction: center;
    align-items: center;
}

.total-pagar{
    padding: 10px;
    color: #6d0f1c;
}

.confirmar-compra button{
    background-color: #6d0f1c;
    border: solid 10px #6d0f1c;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8%;
    transition: all 450ms;
}

.confirmar-compra button:hover{
    background-color: #31060c;
    border: solid 10px #31060c;
}

/*Footer*/

footer{
    padding: 2%;
    background-color: #6d0f1c;
    color: white;
}

footer section{
    display: flex;

}

footer section div#contacto{
    width: 50%;
}

div#contacto i{
    width: 30%;
    font-size: 250%;
    text-align: center;
    padding: 2%;
}

footer section div#redes{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

div#redes i{
    width: 30%;
    font-size: 250%;
    text-align: center;
}

footer div p#copy{
    text-align: left;
    margin: 30px 5px;
}

@media (min-width: 425px){
    .descripcion-producto{
        display: block;
        padding-top: 10px;
    }

    header {
        max-height: 195px;
    }

    .burger-button{
        display: none;
    }

    .logo{
        max-width: 130px;
    }

    .espacio-busqueda{
        max-width: 60%;
    }

    .navbarGral{
        display: block;
    }

    .navbar-inferior{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 775px;
    }

    .navbar-right{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #ebebeb;
        font-size: 15px;
        margin-right: 20px;
    }

    .navbar-left{
        margin-left: 20px;
    }

    .navbar-right a{
        color: #ebebeb;
        text-decoration: none;
        padding: 0 3px;
    }

    .navbar-left a{
        color: #ebebeb;
        justify-content: space-around;
        text-decoration: none;
        padding: 0 15px;
        transition: all 450ms;
    }

    .logo-usuario{
        display: flex;
        padding: 5px;
        transition: all 400ms;
        margin-right: 10px;
    }
    .logo-carrito{
        padding: 5px;
        transition: all 400ms;
        margin-left: 10px;
    }

    .logo-carrito:hover{
        color: black;
        background-color: white;
    }

    .logo-carrito a:hover{
        color: black;
    }

}

@media (min-width: 1024px){

    .espacio-busqueda{
        max-width: 190px;
    }

    .navbar{
        max-width: 850px;
        margin: auto;
    }


    .lista-productos{
        max-width: 850px;
        margin: auto;
    }

    .datos-entrega{
        max-width: 800px;
        margin: auto;
    }

    .confirmar-compra{
        max-width: 800px;
        margin: auto;
    }

}



