*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    background-color: #6d0f1c; 

}
body{
    
    font-family: 'Cardo', serif;
}


/* body*/

article.card{
    display:block;
    background-color: #ebebeb;
    margin: 1rem;
    border-radius:2em;
    text-align: center;
}

.card-left{
    margin: 1rem;
    
}

figure{
    border-radius:2em;
}

.submit-button{
    background-color: #6d0f1c;
    border: solid 5px #6d0f1c;
    color: white;
    font-weight: bold;
    transition: all 450ms;
}

.submit-button:hover{
    background-color: black;
    border: solid 5px black;
}

@media(min-width: 361px){

    .form1{
        width: 30%;
    }

}



