*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
}

main{
    margin: 5%;
}

main section.central{
    display: flex;
}

section div.imagen{
    display: flex;
    width: 70%;
    padding: 5%;
    justify-content: center;
}

main section div img{
    width: 50%;

}

section div.descripcionProducto{
    display: flex;
    padding: 5%;
    flex-direction: column;
}

div input[type="number"]{
	width:30%;  
	padding:8px 16px;
	margin-top:5px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#000;
	background-color:#EEEEEE;
}

div input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:15px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
}

div.masDescripcion{
    width: 70%;
    padding: 5%;
}

footer{
    padding: 2%;
    background-color: #6d0f1c;
    color: white;
}

footer section{
    display: flex;

}

footer section div#contacto{
    width: 50%;
}

div#contacto i{
    width: 30%;
    font-size: 250%;
    text-align: center;
    padding: 2%;
}

footer section div#redes{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

div#redes i{
    width: 30%;
    font-size: 250%;
    text-align: center;
}

footer div p#copy{
    text-align: left;
    margin: 30px 5px;
}


/*Header*/

header{
    background-image: url("../images/Header Vinos 1.jpg");
    background-size: cover;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.logo{
    max-width: 40%;
    border-radius: 50%;
    border: solid 2px black;
}

.espacio-busqueda{
    max-width: 60%;
    border: solid 2px black;
}

.burger-button{
    color: white;
    font-size: 30px;
    width: 30px;
    margin: auto;
    transition: all 450ms;
}

.navbar-inferior{
    display: none;
    background-color: #6d0f1c;
    
}

.reg-log{
    display: none;
    list-style: none;
    position: absolute;
    background-color: hsl(352, 76%, 24%, 0.8);
    color: white;
    padding-top: 10px;
    
}

.reg-log li {
    padding: 5px 5px 5px;
    
}

.logo-usuario:hover .reg-log{
    display: block;
    justify-content: left;
        
}

.reg-log li:hover {
    font-weight: bold;

}

header button{
    background-color: black;
    border: solid 5px black;
    color: white;
    font-weight: bold;
    transition: all 450ms;
}

header button:hover{
    background-color: darkslategrey;
    border: solid 5px darkslategrey;
}


@media (min-width: 425px){
    header {
        max-height: 195px;
    }

    .burger-button{
        display: none;
    }

    .logo{
        max-width: 130px;
    }

    .espacio-busqueda{
        max-width: 60%;
    }

    .navbar-inferior{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 775px;
    }

    .navbar-right{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #ebebeb;
        font-size: 15px;
        margin-right: 20px;
    }

    .navbar-left{
        margin-left: 20px;
    }

    .navbar-right a{
        color: #ebebeb;
        text-decoration: none;
        padding: 0 3px;
    }

    .navbar-left a{
        color: #ebebeb;
        justify-content: space-around;
        text-decoration: none;
        padding: 0 15px;
        transition: all 450ms;
    }

    .navbar-left a:hover{
        background-color: white;
        color: black;
    }

    .logo-usuario{
        display: flex;
        padding: 5px;
        transition: all 400ms;
        margin-right: 10px;
    }
    .logo-carrito{
        padding: 5px;
        transition: all 400ms;
        margin-left: 10px;
    }



    .logo-carrito:hover{
        color: black;
        background-color: white;
    }

    .logo-carrito a:hover{
        color: black;
    }

}

@media (min-width: 1024px){

    .espacio-busqueda{
        max-width: 190px;
    }

    .navbar{
        max-width: 850px;
        margin: auto;
    }

}