*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
    
}

main{
    padding: 2%;
    background-color: #ebebeb;
    
}

section div.imagen{
    display: block;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: white;
    border-radius:2em;
}

main section div img{
    width: 75%;
}

section div.descripcionProducto{
    display: flex;
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
    background-color: white;
    border-radius:2em;
}

section div.descripcionProducto h1,h2,h3{
  padding: 2%;
}

section div.descripcionProducto h2{
  margin-top: 25px;
  padding: 2%;
}


div.masDescripcion{
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius:2em;
}


div input[type="number"]{
	width:30%;  
	padding:8px 16px;
	margin-top:5px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#000;
	background-color:#EEEEEE;
}

div input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:15px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
	transition: all 450ms;
}

div input[type="submit"]:hover{
    background-color: #6d0f1c;
    border: solid 5px #6d0f1c;
}


#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
    text-align: left;
  }
  
  #form p {
    text-align: left;
  }
  
  #form label {
    font-size: 20px;
    text-align: left;
  }
  
  input[type="radio"] {
    display: none;
    text-align: left;
  }
  
  label {
    color: grey;
    text-align: left;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: left;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }


@media (min-width: 769px){
  main section.central{
    display: flex;
  }
  section div.imagen{
    margin: 1%;
    width: 75%;
  }
  main section div img{
    max-width: 35%;
  }


  section div.descripcionProducto{
    margin: 1%;
  }

  div.masDescripcion{
    margin: 1%; 
    padding: 1%;
  }

  div input[type="number"]{
    width: 40%;  
  }
}



