*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    background-color: #6d0f1c; 

}
body{
    
    font-family: 'Cardo', serif;
}


/* body*/
.form1{   
	padding:0px 10px;
	margin:2px 0;
    margin-top: 15px;

	display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}
.search{
    border-radius: 7px;
    width: 90%;
    border: 0px;
    font-size: 18px;
    align-self: flex-start;
    height: 20px;
    padding: 0%;
    background-color: rgb(241, 241, 241);
}
.button-search i{
    font-size: 15px;
}
.button-search{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(241, 241, 241);
    border:rgb(241, 241, 241)

}

.ingreso, .registro{
    font-size: 15px;
    padding: 1px;
    display:none
}
.usuario{
    margin: 0px;
    color: #aa0303;
    background-color: #ffffff;
    border-radius: 10px;
    border: #5f0343;
    padding-top:10px;
    padding: 8px;
    font-size: 10px;
    opacity:1;
    height:40px;
    width:40px;  
    transition: 450ms; 
}
.usuario:hover{
    opacity:1;
    color: #ffffff;
    background-color: #790257;
    
}
.usuario i{
    font-size: 20px;
}


.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-top: 50px;
    border-radius:10px;
    margin: auto;
    padding: 16px;
}
.form {
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin:  20px auto;
    padding: 20px ;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
.text-danger{
    color: #aa0303;
    font-size: 13px;
}
form input.campos-registro{
    width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:7px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}
form label{
	
	font-weight:bold;
	display:inline-block;
    padding: 3%;
    color:rgb(51, 51, 51);
}
.titulos-registros{
    font-size: 15px;
    color: rgb(51, 51, 51);
    padding: 10px;
}
.enviar, .reset{
    width:120px;
    
	padding:5px 10px;
	border:1px solid #f6f6f6;
	border-radius:2px;
    color: #ffffff;
	background-color:#bebebe;
	margin:1px 0;
    transition: 450ms;
    opacity:1;
}
.enviar:hover,.reset:hover{
       opacity:1;
       background-color:#6d0f1c; 
}

@media(min-width: 361px){

    .form1{
        width: 30%;
    }

}



