html{
    width: 100%;
}

body{
    font-family: 'Cardo', serif;
    width: 100%;
    margin: 0px;
}


/*Header*/

header{
    background-image: url("../images/Header Vinos 1.jpg");
    background-size: cover;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.logo{
    max-width: 40%;
    border-radius: 50%;
    border: solid 2px black;
}

.espacio-busqueda{
    max-width: 60%;
    border: solid 2px black;
}

.burger-button{
    color: white;
    font-size: 30px;
    width: 30px;
    margin: auto;
    transition: all 450ms;
}

.navbar-inferior{
    display: none;
    background-color: #6d0f1c;
    
}

.reg-log{
    display: none;
    list-style: none;
    position: absolute;
    background-color: hsl(352, 76%, 24%, 0.8);
    color: white;
    padding-top: 10px;
    
}

.reg-log li {
    padding: 5px 5px 5px;
    
}

.logo-usuario:hover .reg-log{
    display: block;
    justify-content: left;
        
}

.reg-log li:hover {
    font-weight: bold;

}

header button{
    background-color: black;
    border: solid 5px black;
    color: white;
    font-weight: bold;
    transition: all 450ms;
}

header button:hover{
    background-color: darkslategrey;
    border: solid 5px darkslategrey;
}

/* Main */

main{
    background-color: #ebebeb;
    text-align: center;
    align-items: center;
}

.banner{
    display: flex;
    margin-bottom: 35px;
}

main div.banner img{
    width: 100%;
}

main div.seccion1{
    padding-bottom: 20px;
}

main div.slogan{
    display: block;
    margin: 30px 15px 30px 15px;  
    background-color: #FFF;
}

main div.slogan h2{
    font-size: 40px;
    padding: 15px;
    margin: 0px;
}

main div.slogan button{
    background-color: #6d0f1c;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    margin: 20px;
}

main div.fondo{
    display: flex;
}

main div.fondo img{
    width: 100%;
}

main div.seccion2{
    padding-bottom: 20px;
}

main div.producto{
    display: block;
    margin: 30px 15px 30px 15px;  
    background-color: #FFF;
    justify-content: center;
}

main div.producto h2{
    font-size: 40px;
    padding: 15px;
    margin: 0px;
}

main div.producto button{
    background-color: #6d0f1c;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    margin: 20px;
}

main div.imagenes{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
}

main div.imagen{
    display: flex;
    justify-content: center;
}

main div.imagen img{
    width: 50%;
}

main div.segunda-imagen img{
    width: 50%;
    display: none;
}

/* Footer */

footer{
    padding: 2%;
    background-color: #6d0f1c;
    color: white;
}

footer section{
    display: flex;

}

footer section div#contacto{
    width: 50%;
}

div#contacto i{
    width: 30%;
    font-size: 250%;
    text-align: center;
    padding: 2%;
}

footer section div#redes{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

div#redes i{
    width: 30%;
    font-size: 250%;
    text-align: center;
}

footer div p#copy{
    text-align: left;
    margin: 30px 5px;
}

@media (min-width: 425px){
    header {
        max-height: 195px;
    }

    .burger-button{
        display: none;
    }

    .logo{
        max-width: 130px;
    }

    .espacio-busqueda{
        max-width: 60%;
    }

    .navbar-inferior{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 775px;
    }

    .navbar-right{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #ebebeb;
        font-size: 15px;
        margin-right: 20px;
    }

    .navbar-left{
        margin-left: 20px;
    }

    .navbar-right a{
        color: #ebebeb;
        text-decoration: none;
        padding: 0 3px;
    }

    .navbar-left a{
        color: #ebebeb;
        justify-content: space-around;
        text-decoration: none;
        padding: 0 15px;
        transition: all 450ms;
    }

    .navbar-left a:hover{
        background-color: white;
        color: black;
    }

    .logo-usuario{
        display: flex;
        padding: 5px;
        transition: all 400ms;
        margin-right: 10px;
    }
    .logo-carrito{
        padding: 5px;
        transition: all 400ms;
        margin-left: 10px;
    }



    .logo-carrito:hover{
        color: black;
        background-color: white;
    }

    .logo-carrito a:hover{
        color: black;
    }


    h1{
        font-size: 48px;
        color: #FFF;
        width: 45%;
        text-align: center;
    }

    main div.slogan h2{
        font-size: 60px;
        padding: 15px;
        margin: 0px;
    }
    
    main div.slogan button{
        background-color: #6d0f1c;
        color: #FFF;
        padding: 5px;
        border-radius: 5px;
        font-size: 25px;
        margin: 20px;
    }

    main div.producto h2{
        font-size: 60px;
        padding: 15px;
        margin: 0px;
    }
    
    main div.producto button{
        background-color: #6d0f1c;
        color: #FFF;
        padding: 5px;
        border-radius: 5px;
        font-size: 25px;
        margin: 20px;
    }

    main div.imagen{
        display: flex;
        justify-content: center;
    }
    
    main div.imagen img{
        width: 60%;
    }
    
}

@media (min-width: 769px){
    main div.imagenes{
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 60%;
        margin-left: 20%;
    }

    main div.imagen img{
        width: 100%;
        display: inline;
        background-color: #FFF;
    }
    
    main div.segunda-imagen img{
        width: 100%;
        display: inline;
        background-color: #FFF;
    }

    main div.producto h2{
        font-size: 60px;
        padding: 15px;
        margin: 0px;
        background-color: #FFF;
    }

    main div.producto{
        display: block;
        margin: 30px 15px 30px 15px;  
        background-color:#ebebeb;
        justify-content: center;
    }
}

@media (min-width: 1024px){

    .espacio-busqueda{
        max-width: 190px;
    }

    .navbar{
        max-width: 850px;
        margin: auto;
    }

}