<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Lato&family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-admin.css">
    <title>Administrador productos</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
            <section class="central">
                <div class="imagen">
                    <div class="in-imagen">
                        <label for="avatar">Seleccionar una imagen para el producto:</label>
                        <input type="file" name="avatar" accept=".jpg" multiple>
                    </div>
                </div>
                <div class="descripcionProducto">
                    <h1>Nombre del producto</h1>
                    <div class="name">
                        <input type="text" name="nombre">
                    </div>
                    <h4>Precio</h4>
                    <div class="precio">
                        <input type="number" name="precio">
                    </div>
                    <h4>Cantidad</h4>
                    <div class="cant">
                        <input type="number" id="cantidad" name="cantidad" min="1">
                    </div>
                    <h2>Descripcion del procucto</h2>
                    <div class="descripcion">
                        <input type="text" name="descripcion">
                    </div>
                    <div class="botones">
                        <input type="submit" name="submit" value="Añadir producto">
                        <input type="submit" name="submit" value="Restrablecer">
                    </div>
                </div>
            </section>
            <div class="detalles">
                <h2>Mas detalles sobre el producto, de donde viene, etc</h2>
                <input type="text" name="detalles">
            </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>