<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracle Wines</title>
    <link rel="stylesheet" href="/css/styles-registro.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Roboto&family=Tiro+Devanagari+Sanskrit:ital@1&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('../partials/header') %>

        <main>
        <div class="form">   
            <form action="registro" method="post">
                <input class="campos-registro"type="text" name="Nombre" placeholder="Nombre y Apellido">
                <br>
                <input class="campos-registro" type="text" name="usuario" placeholder="Nombre de usuario">
                <br>
                <input class="campos-registro" type="email" name="email" placeholder="E-mail">
                <br>
                <label class="titulos-registros"for="fechaNacimiento">Fecha de nacimiento</label>
                <br>
                <input type="date" name="fechaNaciomieto" placeholder="Fecha de Nacimiento">
                <br>
                <input class="campos-registro" type="text" name="domicilio"placeholder="Domicilio">
                <br>
                <label class="titulos-registros" for="perfilUsuario">Tipo de factura</label>
                <br>
                <input type="radio" name="perfilUsuario"><label for="perfilUsuario">  Factura A  </label>
                <input type="radio" name="perfilUsuario"><label for="perfilUsuario">  Factura B  </label>
                <input type="radio" name="perfilUsuario"><label for="perfilUsuario">  Factura C  </label>
                <br>
                <label class="titulos-registros" for="checkbox">Categorías de interés</label>
                <br>
                <input type="checkbox" name="categorias" value="electro"><label for="categorias"> Fiestas </label>
                <br>
                <input type="checkbox" name="categorias" value="moda"><label for="categorias"> Casamientos </label>
                <br>
                <input type="checkbox" name="categorias" value="hogar"><label for="categorias"> Eventos Formales </label>
                <br>
                <input type="checkbox" name="categorias" value="jugueteria"><label for="categorias"> Reuniones </label>
                <br>
                <input type="checkbox" name="categorias" value="vidaSana"><label for="categorias"> Vida sana </label>
                <br>
                <label class="titulos-registros" for="foto">Foto de Usuario</label>
                <br>
                <input type="file" name="foto" accept=".jpg, .png">
                <br>
                <input class="campos-registro" type="password" name="contraseña" placeholder="Contraseña">
                <br>
                <input class="campos-registro" type="password" name="contraseña" placeholder="Confirmar contraseña">
                <br>
                <input class="enviar" type="submit" name="enviar" value="Registrarse" >
                <input class="reset" type="reset" name="borrar" value="Borrar">
            </form>
        </div>   
    </main>
    <%- include('../partials/footer') %>
</body>

</html>
